name: Run All E2E Tests with Sorry-Cypress

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run Tests'
        required: true
        default: 'prod'
        type: choice
        options:
          - local
          - prod
      skip-bugs:
        description: 'Skip Test with Known Bugs'
        required: true
        default: true
        type: boolean

env:
  CYPRESS_DIRECTOR_URL: ${{ secrets.CYPRESS_DIRECTOR_URL }}
  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
  CI: 1

jobs:
  test-local:
    if: ${{ inputs.environment == 'local' }}
    name: Tests on local - ${{ matrix.browser }} - ${{ matrix.runnerIndex }} of ${{ matrix.runnerTotal }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      CYPRESS_CI_BUILD_ID: local-${{ matrix.browser }}-${{ github.run_id }}
    strategy:
      fail-fast: false
      matrix:
        browser: [electron, chrome, firefox, edge]
        runnerIndex: [1, 2]
        runnerTotal: [2]
    services:
      rbp-booking:
        image: mwinteringham/restfulbookerplatform_booking:1.6.24c7b22
        ports:
          - 3000:3000
      rbp-room:
        image: mwinteringham/restfulbookerplatform_room:1.6.24c7b22
        ports:
          - 3001:3001
      rbp-branding:
        image: mwinteringham/restfulbookerplatform_branding:1.6.24c7b22
        ports:
          - 3002:3002
      rbp-assets:
        image: mwinteringham/restfulbookerplatform_assets:1.6.24c7b22
        ports:
          - 3003:3003
      rbp-auth:
        image: mwinteringham/restfulbookerplatform_auth:1.6.24c7b22
        ports:
          - 3004:3004
      rbp-report:
        image: mwinteringham/restfulbookerplatform_report:1.6.24c7b22
        ports:
          - 3005:3005
      rbp-message:
        image: mwinteringham/restfulbookerplatform_message:1.6.24c7b22
        ports:
          - 3006:3006
      rbp-proxy:
        image: mwinteringham/restfulbookerplatform_proxy:latest
        ports:
          - 80:80
    steps:
      - id: checkout-repository
        name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - id: setup-node
        name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - id: install
        name: Install Dependencies
        run: npm install
      - id: cypress-run
        if: ${{ inputs.skip-bugs }}
        name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress-cloud run --record --key ${CYPRESS_RECORD_KEY} --parallel --ci-build-id ${CYPRESS_CI_BUILD_ID} --env ENV=local,TAGS=not @bug --browser ${{ matrix.browser }}
      - id: cypress-run-bugs
        if: ${{ !inputs.skip-bugs }}
        name: Cypress Run (incl. tests with known bugs)
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress-cloud run --record --key ${CYPRESS_RECORD_KEY} --parallel --ci-build-id ${CYPRESS_CI_BUILD_ID} --env ENV=local --browser ${{ matrix.browser }}
  test-prod:
    if: ${{ inputs.environment == 'prod' }}
    name: Tests on prod - ${{ matrix.browser }} - ${{ matrix.runnerIndex }} of ${{ matrix.runnerTotal }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      CYPRESS_CI_BUILD_ID: prod-${{ matrix.browser }}-${{ github.run_id }}
    strategy:
      fail-fast: false
      matrix:
        browser: [electron, chrome, firefox, edge]
        runnerIndex: [1, 2]
        runnerTotal: [2]
    steps:
      - id: checkout-repository
        name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - id: setup-node
        name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - id: install
        name: Install Dependencies
        run: npm install
      - id: cypress-run
        if: ${{ inputs.skip-bugs }}
        name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress-cloud run --record --key ${CYPRESS_RECORD_KEY} --parallel --ci-build-id ${CYPRESS_CI_BUILD_ID} --env ENV=prod,TAGS=not @bug --browser ${{ matrix.browser }}
      - id: cypress-run-bugs
        if: ${{ !inputs.skip-bugs }}
        name: Cypress Run (incl. tests with known bugs)
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress-cloud run --record --key ${CYPRESS_RECORD_KEY} --parallel --ci-build-id ${CYPRESS_CI_BUILD_ID} --env ENV=prod --browser ${{ matrix.browser }}
